<div id="barcode">
  <div>
    <label for="i_label">Labels: </label><select id="i_label" class="form-control w-25"> 
      <option value="p38">3 X 8 Portrait</option>  
      <option value="p46">4 X 6 Portrait</option>        
      <option value="l83">8 X 3 Landscape</option>  
      <option value="l64">6 X 4 Landscape</option>        
      </select> 
    <!-- <label for="i_col">Column:</label> <input id="i_col" class="form-control" style="width:40px" type="text" value="6"> <br> -->
  </div>
  <div>
      <button class="btn btn-primary m-2" id="b_gen" data-toggle="modal" data-target="#myModal" value="barcode">Generate</button><br>    
  </div>
</div>


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
        <div id="printscreen">
            <div id="print_panel">
                <button class="btn btn-primary m-2" id="b_print">Print</button><br>              
                <button class="btn btn-secondary m-2" id="b_PDF">PDF</button> <br>
                <button class="btn btn-primary m-2" id="b_back">Back</button><br>
            </div>
          
          <div id="printpage">            
            <div id="printdiv">
                
            </div> <!-- print div-->
        </div>        
      </div>
      </div>
    </div>
  </div>
  <div class="d-none">
  <div id="printdiv_svg" >
  </div>
  </div>