<div id="ship_label">
       <div class="labelbox">
            <div class="section">
                    <h5><b>Recipient</b></h5>                        
                    <div>Placemakers - Avondale</div>
                    <div>462 Avondale Road, Avondale, Auckland 1023</div>                        
             </div>
             <div class="section">
                    <h5><b>Sender</b></h5>                        
                    <div>Hitools</div>
                    <div>Unit 8, 6 Workspace Drive, Hobsonville, Auckland</div>                        
             </div>
             <div class="section">
                 <div class="float-right">
                    <h5><b>Job ID</b></h5>                        
                    <div>11110000</div>                    
                </div>
                    <h5><b>Tracking Number</b></h5>                        
                    <div>112321312532</div>                    
             </div>
       </div>
</div>