<div id="pm_main">
  <ul class="nav justify-content-center nav-pm nav-fill" id="task_tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="tab_1" data-toggle="pill" href="#pane_1" role="tab" aria-controls="pane_1"
        aria-selected="true">Notification <span></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab_2" data-toggle="pill" href="#pane_2" role="tab" aria-controls="pane_2" aria-selected="false">Contacts<span></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab_3" data-toggle="pill" href="#pane_3" role="tab" aria-controls="pane_3" aria-selected="false">Settings</a>
    </li>
  </ul>
  <div class="tab-content pm-main" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pane_1" role="tabpanel" aria-labelledby="tab_1">
      <div class="pm-card-list">
        <button id="b_msg_client" class="btn btn-primary m-2" >Open Message Client</button><br>
        <button id="toMessage" class="btn btn-primary m-2" >Send message </button><br>
        
        
        
      </div>
    </div>
    <div class="tab-pane fade" id="pane_2" role="tabpanel" aria-labelledby="tab_2">
      <div class="pm-card-list">
        <button class="btn btn-primary m-2" id="printModal" data-toggle="modal" data-target="#myModal"  value="job_report" > Print Job Report
        </button> <br>
        <button class="btn btn-primary m-2"  data-toggle="modal" data-target="#myModal"  value="ship_label" > Print Ship Label
          </button><br>
          <button id="b_barcode" class="btn btn-primary m-2" >Barcode</button><br>
      </div>
    </div>
    <div class="tab-pane fade" id="pane_3" role="tabpanel" aria-labelledby="tab_3">
      <div class="card mb-2" id="c_hitools">
        <div class="card-body">
          <h6 class="card-title">Hitools</h6>
          <div class="card-text text-secondary">

            <div class="form-check float-right ">
              <label class="form-check-label form-check-toggle">
                <input id="i_allow_hightools" class="form-check-input" type="checkbox" checked="checked" /><span></span>
              </label>
            </div>
            <div>Allow Notification</div>
          </div>
          <!-- <div class="card-text text-danger">Reminder</div>                       -->
        </div>
      </div>


    </div>
    <div class="footer">
      <div class="container mx-auto">

      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div id="printscreen">
          <div id="print_panel">
              <button class="btn btn-primary m-2" id="b_print">Print</button><br>              
              <button class="btn btn-secondary m-2" id="b_PDF">PDF</button> <br>
              <button class="btn btn-primary m-2" id="b_back">Back</button><br>
          </div>
        <div id="printpage" class="landscape">
          <div id="printdiv">
              
          </div> <!-- print div-->
      </div>
      </div>
    </div>
  </div>
</div>